<!doctype html>
<html lang="en"  id='main-html'>
    <head> <%- include('./partials/head') %> </head>
    <title>Satyam Vatsal</title>
    <body>
      <%- include('./partials/nav') %>

      <div class="container">
        <div class="row justify-content-center animateDown">
          <% for(let project of projects) { %>
            <% if(!project.fork) { %>
            <div class="col-md-4">
              <div class="card  mt-3" style="width: 100%;">
                <div class="row g-0">
                  <div class="col-4 ">
                    <img src="<%= `${project.html_url}/blob/${project.default_branch}/assets/img.png?raw=true`%>" class="img-fluid rounded-start m-3" alt="<%= project.name %>">
                  </div>
                  <div class="col-8">
                    <div class="card-body m-3">
                      <h5 class="card-title "><%= project.name %></h5>
                      <p class="card-text "><%= project.description %></p>
                      <a href="<%= project.html_url %>" class="btn btn-danger">Github link</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          <% } %>
        </div>
      </div>
    <%- include("./partials/footer") %>
    <%- include('./partials/scripts') %>
    </body>
</html>
